/* for accept/decline */
/* create pseudoelements on top of the overlay */
#overlay-left::before, #overlay-right::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s;
    overflow: visible;
    z-index: -1;
}

/* create pseudoelements on top of the overlays*/
#overlay-left::before {
    background: linear-gradient(to right, rgb(255, 0, 0), rgba(143, 143, 143, 0));
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    opacity: 0;
    transition: opacity 0.5s;
}
#overlay-right::before {
    background: linear-gradient(to left, rgb(43, 255, 0), rgba(143, 143, 143, 0));
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    opacity: 0;
    transition: opacity 0.5s;
}

/* fix z-index for inputs. tailwind messes with z-index */
#overlay-left input, #overlay-right input {
    z-index: 10;
}


/* fade in on hover */
#overlay-left:hover::before, #overlay-right:hover::before {
    opacity: 1;
}

/* accept/decline icon colours */
#decline {
    background-image: var(--decline-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    width:75px;
    height:75px;
    z-index: 1;
}

#accept {
    background-image: var(--accept-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:75px;
    height:75px;
    z-index: 1;
}

/* bar animation from codepen */
.barcontainer{
    background-color: #181818;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 50px;
    width: 50px;
    height: 320px;
    float: center;
}
.bar{
    background-color: #9BC9C7;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    animation: grow 1.5s ease-out forwards;
    transform-origin: bottom;
}
@keyframes grow{
    from{
        transform: scaleY(0);
    }
}
