/* for accept/decline */
.overlay-left:hover{
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(143, 143, 143, 0));
}
.overlay-right:hover{
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(143, 143, 143, 0));
}