<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
        body { font-family: 'Inter', sans-serif; background-color: #779ce5 }
        :root {
            --decline-url: url('{{ url_for('static', filename='x-symbol.svg') }}');
            --accept-url: url('{{ url_for('static', filename='check-symbol.svg') }}');
        }
    </style>
</head>
<body class="min-h-screen p-4 sm:p-8 flex flex-col items-center text-[#1d2744]">
    
    <!-- title -->
    <div class="w-full max-w-4xl">
        <header class="text-center mb-8">
            <h1 class="text-4xl font-extrabold mb-2">ScrollFlix</h1>
        </header>
    </div>

    <!-- movie swiping card -->
    <div id="movie-card" class="bg-[#1d2744] p-6 rounded-xl shadow-2xl mb-8 flex flex-col text-white relative" style="overflow:hidden;">
        {% include 'movie.html' %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
