<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
        body { font-family: 'Roboto Mono', monospace; background-color: #1d2744 }
        :root {
            --decline-url: url('{{ url_for('static', filename='x-symbol.svg') }}');
            --accept-url: url('{{ url_for('static', filename='check-symbol.svg') }}');
        }
    </style>
</head>
<body class="relative min-h-screen p-4 sm:p-8 text-white grid grid-cols-[1fr_3fr_1fr] gap-4 place-items-center z-[-2]">
    
    <!-- title -->
    <div class="w-full h-full text-left">
        <header>
            <h1 class="text-3xl font-extrabold mb-8">ScrollFlix</h1>
        </header>
    </div>

    <!-- movie swiping card -->
    <div id="movie-card" class="opacity-100 items-center transition-opacity duration-125 bg-[#1d2744] p-6 rounded-xl shadow-2xl mb-8 flex flex-col place-items-center text-white relative max-w-2xl text-center" style="overflow:hidden;">
        {% include 'movie.html' %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
