<img id="movie-img" src="{{ movieCover }}" class="max-w-sm">

<div id="movie-disc">
    <h2 class="text-xl font-bold">{{movieName}}</h2>
    <div class="flex flex-row justify-between m-1">
        <h3 class="text-sm text-gray-300">{{releaseDate}}</h3>
        <h3 class="text-sm text-gray-300">{{movieRuntime}}</h3>
        <h3 class="text-sm text-gray-300">{{movieGenre}}</h3>
    </div>
    <p class="text-base">Country: {{movieCountry}} </p>
    <p class="text-base">Lead cast: {{movieActors}}</p>
    <p class="text-base">{{movieDesc}}</p>
</div>

<!-- transparent overlay for accept and decline -->
<div id="overlay-left" class="overlay absolute top-0 left-0 w-1/2 h-full flex items-center z-0">
    <input type="button" name="decline" class="w-full h-full cursor-pointer bg-transparent absolute" onclick="updateMovie(decline)">
    <div id="decline" class="relative hidden button-option rounded-full border-[6px] border-white m-5"></div>
</div>
<div id="overlay-right" class="overlay absolute top-0 right-0 w-1/2 h-full flex items-center place-content-end z-0">
    <input type="button" name="accept" class="w-full h-full cursor-pointer bg-transparent absolute" onclick="updateMovie(accept)">
    <div id="accept" class="relative hidden button-option rounded-full border-[6px] border-white m-5"></div>
</div>