<img id="movie-img" src="{{ movieCover }}" class="max-w-sm">

<div id="movie-disc items-center">
    <h2 class="text-xl font-bold">{{movieName}}</h2>
    <div id="flex flex-row justify-between">
        <h3 class="text-sm text-gray-300">{{releaseDate}}</h3>
        <h3 class="text-sm text-gray-300">{{movieRuntime}}</h3>
        <h3 class="text-sm text-gray-300">{{movieGenre}}</h3>
    </div>
    <p class="text-base">Country: {{movieCountry}} </p>
    <p class="text-base">Lead cast: {{movieActors}}</p>
    <p class="text-base">{{movieDesc}}</p>
</div>

<!-- transparent overlay for accept and decline -->
<div id="overlay-left" class="overlay absolute top-0 left-0 w-1/2 h-full bg-transparent z-100 flex items-center">
    <input type="hidden" name="decline" class="w-full h-full cursor-pointer" onclick="updateMovie(decline)">
    <div id="decline" class="hidden button-option rounded-full border-[6px] border-white m-5"></div>
</div>
<div id="overlay-right" role="button" class="overlay absolute top-0 right-0 w-1/2 h-full bg-transparent z-100 flex items-center place-content-end">
    <input type="hidden" name="accept" class="w-full h-full cursor-pointer" onclick="updateMovie(accept)">
    <div id="accept" class="hidden button-option rounded-full border-[6px] border-white m-5"></div>
</div>