<img id="movie-img" src="{{ movieCover }}" class="w-xs h-[50vh]">

<div id="movie-disc" class="flex flex-col items-center">
    <h2 class="text-xl font-bold mb-2">{{movieName}}</h2>
    <div class="flex flex-row justify-between w-3/4">
        <h3 class="text-xs text-gray-300">{{movieCountry}}</h3>
        <h3 class="text-xs text-gray-300">{{releaseDate}}</h3>
        <h3 class="text-xs text-gray-300">{{movieRuntime}}</h3>
    </div>
    <p class="text-sm">{{movieGenre}} </p>
    <p class="text-sm">{{movieActors}}</p>
    <p class="text-sm">{{movieDesc}}</p>
</div>

<!-- transparent overlay for accept and decline -->
<div id="overlay-left" class="overlay absolute top-0 left-0 w-1/2 h-full flex items-center z-0">
    <input id="declineButton" type="button" name="decline" class="w-full h-full cursor-pointer bg-transparent absolute" onclick="updateMovie(false)">
    <div id="decline" class="relative hidden button-option rounded-full border-[6px] border-white m-5"></div>
</div>
<div id="overlay-right" class="overlay absolute top-0 right-0 w-1/2 h-full flex items-center place-content-end z-0">
    <input id="acceptButton" type="button" name="accept" class="w-full h-full cursor-pointer bg-transparent absolute" onclick="updateMovie(true)">
    <div id="accept" class="relative hidden button-option rounded-full border-[6px] border-white m-5"></div>
</div>